/* GlOBAL
------------------------------------------------------------------------------*/
body{background: #ffffff; color:#333333; font-size: 13px; line-height: 24px; font-family: 'Trebushet MS', sans-serif;}
*{box-sizing: border-box!important; -webkit-box-sizing: border-box!important; -moz-box-sizing: border-box!important;}
a{color: #333333; text-decoration: none;}
a:hover,
a:focus{color: #878349; text-decoration: none; outline:none; outline-color: transparent!important;}

.block{display: block;}
.tbl{display: table;}
.rel{position: relative;}
.abs{position: absolute;}

.mt0{margin-top: 0px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}

.mb0{margin-bottom: 0px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}

.upper{text-transform: uppercase; letter-spacing: .6px;}
.italic{font-style: italic;}
.snormal{font-style: normal;}

.thin{font-weight: 100;}
.light{font-weight: 300;}
.fnormal{font-weight: 400!important;}
.semi500{font-weight: 500;}
.semi600{font-weight: 600;}
.bold{font-weight: 700;}
.extra{font-weight: 800;}

.rel{position: relative;}
.abs{position: absolute;}

.white{color:#ffffff;}
.black{color:#000000;}

.mh{min-height: 1px;}
.br5{border-radius:5px;}

/*.container{position: relative; width: 1000px; margin-right: auto;  margin-left: auto; padding: 0;}
.container:berore,
.container:after,
*/
.row:after{display: table;  content: "";}
.row{margin: 0; padding: 0;}


header{background: url('../img/hbg.jpg') repeat top center;  display: table; width: 100%;margin-bottom: 30px;text-align: center;}
header .logo{/* float: left; */padding: 20px 0px 15px;position: relative;}

.index-tit{ font-size: 30px; font-weight: 700; padding-left: 0px;padding-top: 10px; padding-bottom: 30px; text-align: center; border-bottom: 1px solid #878349; text-transform: uppercase;}
.index-tit span{color: #878349;}

.post{width: 223px; display: inline-block; vertical-align: top; position: relative;margin: 0 12px 35px;}
.post a{display: block;}
.post a img{display: block; max-width: 100%; height: auto;}
.post a h2{font-weight: 700; font-size: 18px; line-height: 20px; color: #333333; margin: 10px 0 0 0;padding: 17px 0 0 0;background: url(../img/hbg.jpg) repeat-x left top;min-height: 43px;background-size: 8px auto;text-align: center;}
.post a:hover h2{color: #878349;}

.single{width: 670px; margin-right: 0px; float: left;padding-top: 30px; padding-right: 30px;}
.single__title{font-size: 30px; line-height: 36px; color: #333333; font-weight: 700;margin-bottom: 0;padding-left: 55px;padding-top: 6px;padding-bottom: 25px;text-align: center;      border-bottom: 1px solid #878349;      text-transform: uppercase;}
.single__subtitle{color: white; font-size: 24px; line-height: 27px;  margin-bottom: 5px;font-weight: 400;text-transform: uppercase;background-color: #878349;display: table;padding: 0 2px;text-align: center;margin: 0 auto 15px;}
.date{font-size: 16px; color:#aaaaaa;}
.single p{color: #000000; font-size: 14px; line-height: 20px;margin-top: 0; margin-bottom: 20px;font-family: Tahoma;}
.single__img{max-width: 100%;display: block;width: 100%;}

.single__subtitle{}

.single__like-inner a{border: 1px solid #333333; font-size: 27px;  padding: 13px 35px;  border-radius: 11px;  color: #646464;display: inline-block;position: relative;}
.single__like-inner a:hover{color: #000000;}
.single__like-inner a.prev{padding-right: 59px;}
.single__like-inner a.prev:after{position: absolute; content:"+"; font-size: 64px; line-height: 42px;top: 3px;right: 10px;text-indent: 0;}
.single__like-inner a.next{padding-left: 49px;}
.single__like-inner a.next:before{position: absolute; content:"-"; font-size: 64px; line-height: 42px;  top: -2px; left: 17px;text-indent: 0;}
.single__like span{ /* font-size: 23px; */}

.single__social{margin-bottom: 10px; background: white; display: block; width:100%;text-align: center;}

.single__pager{text-align: center; display: inline-block; width: 100%; position: relative;}
.single__pager-inner a{background: #11a49f; font-size: 25px;  padding: 0;    color: #ffffff;display: inline-block;width: 200px;position: absolute;padding: 15px 20px;border-radius: 5px;}
.single__pager-inner a:hover{color:#ffffff;  }
.single__pager-inner span.count{margin-left: 20px; margin-right: 20px; font-size: 26px; color: #666666; font-weight: 400;padding: 15px 0;display: inline-block;}
.single__pager-inner a.prev{left: 0px;}
.single__pager-inner a.next{right: 0px;}

.single__pager-inner a span{position: relative;display: table;width: 100%;}


.aside__posts .post{width: 200px;margin: 0 5px 10px;}

.single__social{ margin-bottom: 0; padding: 10px;width: 100%;float: left;margin-top: 30px;}
.posts_pager{background: #ffffff; padding: 0; margin: 0; width: 100%;float: left;background-size: cover;}
.posts_pager a{width: 49.33333%; float:left;display: block;padding: 0;}
.posts_pager a + a{float: right;}
.posts_pager span{display: block; /* text-align: center; */font-weight: 700;}
.posts_pager__item__ttl{color: #333333; font-size: 18px;background: #d4d4d4;padding: 20px 15px;text-align: center;}
.posts_pager__item__dsc{color: #666666; font-size: 20px;padding: 20px;text-align: left;padding-left: 50px;background: url(../img/loupe.png) no-repeat 10px center;}

.posts_pager a:hover .posts_pager__item__dsc{color: #333333;}

.mabye{position: relative;text-align: center;width: 100%;float: left;margin-top: 30px;}
.mabye__tit{display: inline-block; margin: 0 auto 20px; background: #5173a2;;font-size: 18px;padding: 2px 7px;}

.single__col2{width: 270px;float: left;}

aside{width: 320px;float: right;padding: 20px 0 0 20px;}

footer{background: #878349; padding: 20px 0; display: table; width: 100%; margin-top: 50px; min-height: 50px;}
.posts_pager__title{color: #878349;text-align: center;font-size: 24px;padding: 15px;text-transform: uppercase;font-weight: 700;}
.single__like{background: #878349;padding: 0px;height: 50px;}
.single__like a{background: #d3d3d3;color: #333333;width: 210px;padding: 6px;border-radius: 0;font-size: 20px;      font-weight: 700;text-transform: uppercase;}
.single__like .single__pager-inner a span{padding: 7px 5px;float: left;}
.single__like .single__pager-inner a span img{}
.single__like .prev{font-size: 18px;}
.single__like .next{font-size: 18px;}
.single__like .single__pager-inner span.count{color: #ffffff;}

/* RESPONSIVE
------------------------------------------------------------------------------*/
@media(min-width:1200px){
    .posts .post:nth-child(5n+1){}
}

@media(max-width:1200px){
    .visivle-desctop{display: none!important;}
}

@media(min-width:992px) and (max-width:1199px){
    .container{width: 950px;}
    .single{width: 630px;padding-right: 20px;padding-top: 20px;}
    aside{width: 320px;}
    aside .post{width: 24%;}
    .single__like span{width: 40%;}
    .posts .post{width: 211px;}
    .posts .post + .post{}
    .posts .post:nth-child(4n+1) {}
    .header__search{width: 500px;}
    .single__pager{width: 100%;}
    .aside__posts .post{width: 200px;}
}

@media(max-width: 991px) and (min-width: 768px){
    .container{width: 750px;}
    .single{width: 100%; margin-right:0; border: none;padding-right: 0;}
    .single img{ display: inline-block;  margin-left: auto; margin-right: auto;  width: 100%;}
    aside{width: 100%;/* display: none; */}
    .posts .post{width: 30%; margin-left: 1%; margin-right: 2%;}
    aside .post{width: 30%; margin-left: 1%; margin-right: 1%;}
    .posts .post + .post{}
    .logo{ width: 300px;}
    .logo img{ max-width: 100%;}
    .header__search{width: 450px;padding: 11px 20px 11px;}
    .header__search button{top: 17px;}

    .single__pager{width: 100%;}
    .single__col2{width: 100%;text-align: center;}
    .single__col2 div{display: inline-block!important;}
}

@media(min-width:150px) and (max-width:767px){
    .container{width: 100%; padding: 0 15px;}

    .single{width: 100%; border: none;padding-right: 0;}
    aside{width: 100%;display: none;}

    .logo{ width: 100%; background-image: none!important;}
    .logo img{ max-width: 100%;}
    .header__search{width: 100%;padding: 11px 0px 11px;float: left;}
    .header__search button{top: 18px;}

    .posts .post{ margin: 0 auto 20px!important; width: 290px;}
    .posts .post img{ width: 100%; height: auto}

    .single__pager-inner a.prev,
    .single__pager-inner a.next{position: relative; display: block; text-align: center; width: 100%;}
    .single__pager-inner a.prev:after,
    .single__pager-inner a.next:after{display: none;}
    .single__pager{width: 100%; margin: 20px 0;}

    .single__col2{display: none;}

    .single__pager-inner a.next span:before, 
    .single__pager-inner a.next span:after,
    .single__pager-inner a.prev span:before,
    .single__pager-inner a.prev span:after{display: none;}

    .posts_pager a{width: 100%;margin: 10px 0;}
    .mabye__tit{width: 100%;}
    .single__like{height: auto;}
    .single__like .single__pager-inner a{/* width: 20%; */height: 50px; background-position: center center; float: left;}
    .single__like .single__pager-inner a span{/* display: none; */}
    .single__title{font-size: 24px; line-height: 28px;}
    .single__like .single__pager-inner span.count{width: 100%;margin: 0;}
    .aside__posts .post{width: 220px;}
}

